body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #204051;
}

h1 {
  font-family: 'Sacramento', cursive;
  color: #47b19b;
  font-size: 90px;
  margin: 10px auto 50px auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #2d404e;
  font-weight: 900;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
}

.top-container {
  padding-top: 100px;
  background-color: #e6f9f5;
  position: relative;
  margin: 0
}

.middle-container {
  margin: 50px;
}

.bottom-container {
  background-color: #8de4d2;
  padding: 40px 0 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.footer-link {
  text-decoration: none;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  color: #11999e;
}

.footer-link:hover {
  color: #2d404e;
}

.copyright {
  font-family: 'Merriweather', serif;
  color: white;
  font-size: 12px;
  padding: 20px;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: 0;
  width: 4%;
  margin: 70px auto;
}

.bottomcloud {
  position: absolute;
  left: 300px;
  top: 250px;
}

.topcloud {
  position: absolute;
  top: 200px;
  right: 300px;
}

.programmer {
  font-weight: 300;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.computer {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.keyboard {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.baslik {
  width: 30%;
  line-height: 2;
  margin: auto;
}

.altlik {
  width: 50%;
  line-height: 2;
  margin: 0 auto 37px;
}

.btn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 13px;
  background: #8de4d2;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #aff7e7;
  text-decoration: none;
}
